root = true

[*.{uno,ux,unoproj,unosln}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{uno,ux,js,java}]
indent_style = space
indent_size = 4

[*.{unoproj,json}]
indent_style = space
indent_size = 2
